/* */

/*navbar styles*/
.navbar{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1000;
    background-color:RGB(242,242,242,.0) !important;
    
}
.navbar img {
    padding-right: 10px;

}
#navbarSupportedContent{
    display: flexbox ;
   
}

.space {
    padding-right: 20px;
}

/*.navbar-brand {
    background-color:RGB(242,242,242) !important;
    color: #001B4B !important;
    font-weight: bold;
}

.text-black {
    color: #001B4B !important;
    font-weight: bold;
}

.nav-item img {
    width: 40px;
    padding-right: 10px;

}
/*


/* carousel styles */


.carousel-caption {
    position: absolute;
    top: -10%;
    left: 0%;
    z-index: 10;
    color: #fff;
    text-align: center;
    width: 50%;
    padding: 5%;
    padding-left: 10%;

    visibility: hidden;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}

/* carousel text*/

.carousel-tittle {
    padding-top: 30%;
    font-size: 3em;
    color: #001B4B;
}
.animated-hr {
    visibility: hidden;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-name: slideleft;


    border: 3px solid #33bbcf;
    height: 1px;
    width: 100px;
    background-color: #33bbcf;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}
.carousel-text {
    color: #ABABAC;
    font-size: 1.1em;
}



.btn-outline-primary {
    border-radius: 200px;
    border: 3px solid #76D7E6;

    width: 170px;
    height: 50px;
    color: #001B4B;
    font-size: 1em;
    font-weight: normal;
}

.btn-outline-primary:hover {
    border: 3px solid #76D7E6;
    background-color: #76D7E6;
    color: white;
}



.carousel-control-next {
    background-color: rgb(6, 7, 6, .2);
    width: 40px;
    height: 130px;
    margin: auto;

}

.carousel-control-next:hover {
    background-color: #76D7E6;
}

.carousel-control-prev {
    background-color: rgb(6, 7, 6, .3);
    width: 40px;
    height: 130px;
    margin: auto;

}

.carousel-control-prev:hover {
    background-color: #76D7E6;
}





#carouselExampleDark img {
    max-height: 900px;
    object-fit: cover;
}

.carousel {
    max-height: 900px;
    object-fit: cover;
}




/*body*/

.sec1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text_rigth{
    text-align: center;
   
}

.imgs1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20%;
}
.img1{
    position: absolute;
    left: 300px;
    padding-top: 20px;
    
}

.img2{
    position: absolute;
    border: 5px;
}

body{
    background-color: #F6F7F8;
}


.llenado{
height: 700px;
}

/*-----------------------------------portfolio---------------------------------------------------------------*/
body{
	margin:0;
}
/* Responsive placing of the boxes*/
.container {
		padding: 1% 1% 0% 1%;
		background: #ddd;
}
.container:after {
		content: '';
		display: inline-block;
		width: 100%;
}

/* Inside the box */

.box {
		width: 96%;
		margin:2%;
		padding-bottom: 96%;
		height: 0;
		position: relative;
		float: left;
		cursor: pointer;
		overflow: hidden;
/*		box-shadow: 0px 3px 18px 1px #fff;*/
		
}

.box:after {
		content: '';
		position: absolute;
		background-color: #000;
		opacity:0;
		z-index: 55;
		width: 100%;
		height: 100%;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
}

.box:hover::after {
		background-color: #000;
		opacity:.7;
}

.container .box .caption {
		position: absolute;
		z-index: 60;
		width: 90%;
		margin-left: 5%;
		top: 50%;
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		text-align: center;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
		font: 1.4em normal Arial, sans-serif;
		color: #fff;
		opacity: 0;
}

.box:hover .caption {
		-webkit-transform: scale(1) translate(0%, -50%);
		-moz-transform: scale(1) translate(0%, -50%);
		-ms-transform: scale(1) translate(0%, -50%);
		-o-transform: scale(1) translate(0%, -50%);
		transform: scale(1) translate(0%, -50%);
		opacity: 1;
}

.box img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 50;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
}

.box:hover img {
	height: 150%;
}
/* media changes, changing number of columns */

@media all and (min-width: 350px){
  .container .box{
		width: 48%;
		margin:1%;
		padding-bottom:48%;
	}
}

@media all and (min-width: 800px){
  .container .box{
		width: 31.3333%;
		padding-bottom:30%;
	}
}
@media all and (min-width: 1200px){
  .container .box{
		width: 23%;
		padding-bottom:23%;
	}
}


/*
.portfolio{
    margin-top: 200px;
}


* {
    box-sizing: border-box;
}

:root {
    --padding-h: 5vw;
    --padding-v: 2rem;
}

body {
    font-family: sans-serif;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
}

.portfolio img {
    max-width: 100%;
    
}

.section {
    padding: var(--padding-v) var(--padding-h);
    
}

.portfolio .portfolio-cats {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}

.portfolio .portfolio-cats li {
    color: #001B4B;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}
.portfolio .portfolio-cats li:hover{
    color: #76D7E6;
}

.portfolio .portfolio-gallery {
    position: relative;
    
}

.portfolio .portfolio-item {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transition-property: opacity, transform;
    transition-duration: 0.7s;
    


}

.portfolio .portfolio-item .item-inner {
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 10%);
}

@media screen and (min-width: 48em) {
    .portfolio .portfolio-item {
        width: 50%;
    }
}
/*62em*/
@media screen and (min-width: 62em) {
    .portfolio .portfolio-item {
        width: 33.3333%;
    }
}
*/
/*animation*/
/*--------------------------------------------------------------------------------------------------*/



.zoom {
    animation-duration: 7s;

    transition: 7s ease;
    -moz-transition: 7s ease;
    /* Firefox */
    -webkit-transition: 7s ease;
    /* Chrome - Safari */
    -o-transition: 7s ease;
    /* Opera */
    animation-name: zoom;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}
.animation-slideup {

    animation-duration: 2s;
    animation-name: slideup;
}



@keyframes appear {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@keyframes slideleft {
    from {
        width: 0%;
        margin-left: -10%;
    }

    to {
        visibility: visible;
        margin-left: 0%;
    }
}

@keyframes slideup {
    from {
        margin-top: 10%;
    }

    to {
        visibility: visible;
        margin-top: 0%;

    }
}


@keyframes zoom {
    from {
        transform: scale(1);
        -moz-transform: scale(1);
        /* Firefox */
        -webkit-transform: scale(1);
        /* Chrome - Safari */
        -o-transform: scale(1);
        /* Opera */
        -ms-transform: scale(1);
        /* IE9 */

        transform-origin: left top;

    }

    to {
        transform: scale(1.07);
        -moz-transform: scale(1.07);
        /* Firefox */
        -webkit-transform: scale(1.07);
        /* Chrome - Safari */
        -o-transform: scale(1.07);
        /* Opera */
        -ms-transform: scale(1.07);
        /* IE9 */
        background-color: rgb(56, 114, 116);

        /* transform-origin: left center;*/
    }





}

@media screen and (max-width:1200px) {
    .carousel-tittle {
        font-size: xx-large;
    }

    .carousel-text {
        font-size: small;
    }

}

@media screen and (max-width:925px) {
    .carousel-tittle {
        font-size: xx-large;
    }

    .carousel-text {
        visibility: hidden;
        height: 0%;

    }

   

}

@media screen and (max-width:800px) {
    .carousel-tittle {
        font-size: large;
    }

    .carousel-text {
        visibility: hidden;
        height: 0%;

    }

    .btn-outline-primary {


        width: 130px;
        height: 40px;
        font-size: small;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }

    .carousel-indicators button {
        display: none;
    }

    .carousel{
        width: 100%;
    }

}


/*-------------------------------------------------------------------footer-------------------------------------*/




/*colores haia 
#D4E190 verde claro
#4E6436 verde oscuro
#EF8951 naranja
*/