/*

TemplateMo 567 Nomad Force

https://templatemo.com/tm-567-nomad-force

*/

/*
#DDE59C
#4A671E
#F18950
*/

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #FFFFFF;
  /*primary 283966*/
  /*seco 47b2e4 */
  /*az realc 285A66*/
  /*az light grey #8D8D8D*/
  /*# green light 79B322*/
  --primary-color: #4A671E;
  --secondary-color: #F18950;
  --tertiary-color: #8D8D8D;
  --section-bg-color: #f9f9f9;
  --dark-color: #000000;
  --grey-color: #fcfeff;
  --text-secondary-white-color: rgba(255, 255, 255, 0.98);
  --title-color: #565758;
  --p-color: #717275;

  /*color: #283966 !important;
  color: #4A671E !important;*/

  /* --body-font-family: 'Noto Sans JP', sans-serif;*/
  --principal-font-family: 'Poppins', serif;
  --secondary-font-family: 'Lora', 'serif';
  --h1-font-size: 72px;
  --h2-font-size: 42px;
  --h3-font-size: 36px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --copyright-text-font-size: 14px;
  --custom-link-font-size: 12px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

body,
html {
  height: 100%;
}

body {
  background: var(--white-color);
  /*font-family: var(--body-font-family);*/
  position: relative;
  /*background-color: #fdf1ec;*/
  background-color: #fff;
}

a:hover {
  color: var(--secondary-color) !important;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: var(--principal-font-family);
  color: var(--primary-color) !important;

}

.nav-icons {
  color: var(--primary-color) !important;
}

p {
  /* font-family: 'Raleway', sans-serif;*/
  font-family: var(--secondary-font-family);
  color: var(--tertiary-color) !important;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.5px;
}

.text-secondary-white-color {
  color: var(--text-secondary-white-color);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;

}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--dark-color);
  color: var(--white-color);
}

.custom-underline {
  border-bottom: 2px solid var(--white-color);
  color: var(--white-color);
  padding-bottom: 4px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  background: linear-gradient(to top, #000, transparent 90%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*---------------------------------------
  CUSTOM LINK               
-----------------------------------------*/
.custom-links {
  max-width: 230px;
}

.custom-link {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.custom-link::after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
  background: currentColor;
}

.custom-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.custom-link:hover,
.custom-link:hover::after {
  color: var(--white-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  lotus               
-----------------------------------------*/
/*
#DDE59C
#4A671E
#F18950

*/



#center {
  --open-color: #e5cdda;
}



#l1 {
  --close-angle: 11deg;
  --open-color: #DDE59C;

}

#l2 {
  --close-angle: 18deg;
  --open-color: #DDE59C;

}

#l3 {
  --close-angle: 33deg;
  --open-color: #DDE59C;
}

#r1 {
  --close-angle: -11deg;
  --open-color: #DDE59C;
}

#r2 {
  --close-angle: -18deg;
  --open-color: #DDE59C;
}

#r3 {
  --close-angle: -33deg;
  --open-color: #DDE59C;
}

#shadow {
  --close-width: 50%;
}





/*
#DDE59C
#4A671E
#F18950

*/
/*
.petal-r {
  -webkit-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
  -ms-transform: rotate(var(--close-angle));
  /* IE 9 
  -webkit-transform: rotate(var(--close-angle));
  /* Chrome, Safari, Opera 
  transform: rotate(var(--close-angle));
  -webkit-transition: transform 1.8s, fill 1s, stroke 1s;
  /* Safari 3.1 to 6.0 
  transition: transform 1.8s, fill 1s, stroke 1s;

}
.lotus-flower:hover  .petal-r {
  -webkit-transform-origin: 50% 80%;
  -ms-transform: rotate(0deg);
  /* IE 9 
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera 
  transform: rotate(0deg);
  fill: var(--open-color);
  stroke: var(--open-color);
  stroke: #4A671E;
  stroke-width: 1;
  stroke-opacity: .3;
}
.petal-l {
  -webkit-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
  -ms-transform: rotate(var(--close-angle));
  /* IE 9 
  -webkit-transform: rotate(var(--close-angle));
  /* Chrome, Safari, Opera 
  transform: rotate(var(--close-angle));
  -webkit-transition: transform 1.8s, fill 1s, stroke 1s;
  /* Safari 3.1 to 6.0 
  transition: transform 1.8s, fill 1s, stroke 1s;

}



.lotus-flower:hover .petal-l {
  -webkit-transform-origin: 50% 80%;
  -ms-transform: rotate();
  /* IE 9 
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera 
  transform: rotate(0deg);
  fill: var(--open-color);
  stroke: var(--open-color);
  stroke: #4A671E;
  stroke-width: 1;
  stroke-opacity: .3;

}
.shadow {
  rx: 65px;
  -webkit-transition: rx 1.8s, fill 1s, stroke 1s;
  /* Safari 3.1 to 6.0 
  transition: rx 1.8s, fill 1s, stroke 1s;

}

.lotus-flower:hover .shadow {
  rx: 150.5px;
}*/

.petal-r {
  -webkit-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
  -ms-transform: rotate(var(--close-angle));
  /* IE 9 */
  -webkit-transform: rotate(var(--close-angle));
  /* Chrome, Safari, Opera */
  transform: rotate(var(--close-angle));
  -webkit-transition: transform 1.8s, fill 1s, stroke 1s;
  /* Safari 3.1 to 6.0 */
  transition: transform 1.8s, fill 1s, stroke 1s;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

}

.petal-l {
  -webkit-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
  -ms-transform: rotate(var(--close-angle));
  /* IE 9 */
  -webkit-transform: rotate(var(--close-angle));
  /* Chrome, Safari, Opera */
  transform: rotate(var(--close-angle));
  -webkit-transition: transform 1.8s, fill 1s, stroke 1s;
  /* Safari 3.1 to 6.0 */
  transition: transform 1.8s, fill 1s, stroke 1s;


  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

}

.lotus-flower {
  animation-duration: 8s;
  animation-name: flower;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.petal-r2 {
  -webkit-transform-origin: 50% 80%;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  fill: var(--open-color);
  stroke: var(--open-color);
  stroke: #4A671E;
  stroke-width: 1;
  stroke-opacity: .3;



}

.lotus-flower:hover .petal-l2 {
  -webkit-transform-origin: 50% 80%;
  -ms-transform: rotate();
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  fill: var(--open-color);
  stroke: var(--open-color);
  stroke: #4A671E;
  stroke-width: 1;
  stroke-opacity: .3;


}

.lotus-animation {}

@keyframes flower {
  from {
    -webkit-transform-origin: 50% 80%;
    -ms-transform-origin: 50% 80%;
    transform-origin: 50% 80%;
    -ms-transform: rotate(var(--close-angle));
    /* IE 9 */
    -webkit-transform: rotate(var(--close-angle));
    /* Chrome, Safari, Opera */
    transform: rotate(var(--close-angle));
    -webkit-transition: transform 1.8s, fill 1s, stroke 1s;
    /* Safari 3.1 to 6.0 */
    transition: transform 1.8s, fill 1s, stroke 1s;
  }

  to {
    -webkit-transform-origin: 50% 80%;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    fill: var(--open-color);
    stroke: var(--open-color);
    stroke: #4A671E;
    stroke-width: 1;
    stroke-opacity: .3;
  }
}



.shadow {
  rx: 65px;
  -webkit-transition: rx 1.8s, fill 1s, stroke 1s;
  /* Safari 3.1 to 6.0 */
  transition: rx 1.8s, fill 1s, stroke 1s;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.shadow2 {
  rx: 150.5px;
}

@keyframes shadow-animation {
  from {
    rx: 65px;
    -webkit-transition: rx 1.8s, fill 1s, stroke 1s;
    /* Safari 3.1 to 6.0 */
    transition: rx 1.8s, fill 1s, stroke 1s;
  }

  to {
    rx: 150.5px;
  }
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navback {

  background-color: RGB(242, 242, 242, .9) !important;

}

.container-fluid-nav {
  top: 0% !important;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  height: 70px;
  top: 0% !important;

  transition-duration: 1s;

}

.container-fluid {

  transition-duration: 1s;
}

@keyframes slidedown {
  from {

    opacity: 0;
  }

  to {
    visibility: visible;

    opacity: 1;

  }
}

.nav-link {
  animation-duration: 4s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: RGB(242, 242, 242, 0) !important;
  z-index: 1000;
  max-height: 30px !important;
  /* color: #001B4B !important;*/

  font-weight: 600;
  padding-top: 0%;

  height: 30px !important;



}

.logo img {
  height: 65px;

}

.navbar-transparent {
  background-color: RGB(242, 242, 242, 0) !important;

}




#link1 {
  animation-duration: 1s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

#link2 {
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

#link3 {
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

#link4 {
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

#link5 {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

#link6 {
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

#link7 {
  animation-duration: 1s;
  animation-delay: 0.7s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;

}

#link8 {
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-name: slidedown;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
}

.navbar a {


  font-weight: 600;


}

.navbar a:hover {
  /*color: #76D7E6;*/
}


.nav-icons {
  padding-left: 5%;
  font-size: 1.1em;
  width: 230px;
  padding-top: 5px;


}








/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .hero {
    height: 100vh;
  }

  .custom-video,
  .news-detail-image {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }




}

.heroText {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
}

/*---------------------------------------
  ABOUT & TEAM MEMBERS               
-----------------------------------------*/
.about-image,
.team-image {
  width: 100%;
  height: 100%;
  max-height: 635px;
  min-height: 475px;
  object-fit: cover;
}

.team-thumb {
  background: var(--white-color);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  padding: 22px 32px 32px 32px;
}

/*
.carousel-control-next, 
.carousel-control-prev {
  top: auto;
  bottom: 2.5rem;
}

.carousel-control-prev {
  right: 4rem;
  left: auto;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
  background-color: var(--dark-color);
  background-size: 50% 50%;
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
}*/

/*---------------------------------------
  PORTFOLIO               
-----------------------------------------*/
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  margin: 20px;
}

/*---------------------------------------
  NEWS & EVENTS               
-----------------------------------------*/

.news,
.related-news {
  background: var(--section-bg-color);
}

.news-thumb {
  position: relative;
}

.news-category {
  background: var(--white-color);
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  padding: 4px 12px;
  display: inline-block;
}

.news-text-info {
  margin: 0 20px;
}

.news-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.news-title-link {
  color: var(--title-color);
  display: inline-block;
}

.news-title-link:hover {
  color: var(--dark-color);
}

.portfolio-image,
.news-image {
  display: block;
  transition: transform 0.6s ease-out;
}

.news-image-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  padding-bottom: 4px;
  height: 100%;
}

.news-image-hover::after {
  content: "";
  width: 0;
  height: 4px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
  background: #198754;
}

.news-image-hover-warning::after {
  background: #ffc107;
}

.news-image-hover-primary::after {
  background: #0d6efd;
}

.news-image-hover-success::after {
  background: #198754;
}

.news-image-hover:hover::after {
  width: 100%;
  left: 0;
  right: auto;
  z-index: 9;
}

.image-popup:hover .portfolio-image,
.news-image-hover:hover .news-image {
  transform: scale(1.02);
}

.news-two-column {
  min-height: 199px;
  margin-bottom: 16px;
}

.news-two-column .news-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-share-link,
.social-share-link+span {
  color: rgba(255, 255, 255, 0.65);
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/*---------------------------------------
  CONTACT              
-----------------------------------------*/
.contact-info {
  padding: 40px;
}

.contact-form .form-control {
  border-radius: 0;
  font-weight: var(--font-weight-normal);
  padding-top: 12px;
  padding-bottom: 12px;
}

.contact-form button[type='submit'] {
  background: var(--dark-color);
  border: none;
  border-radius: 100px;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 16px;
  transition: all 0.6s ease-out;
}

.contact-form button[type='submit']:hover {
  background: var(--primary-color);
}

.form-label {
  color: var(--p-color);
  font-weight: var(--font-weight-bold);
}

.map-iframe {
  display: block;
  /* filter: grayscale(100);*/
}

/*---------------------------------------
  SITE FOOTER               
-----------------------------------------*/
.site-footer {
  background: var(--dark-color);
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
}

.site-footer .custom-link {
  color: rgba(255, 255, 255, 0.65);
  font-size: var(--p-font-size);
}

.site-footer .custom-link:hover,
.site-footer .social-icon-link:hover {
  color: var(--white-color);
}

.copyright-text {
  color: rgba(255, 255, 255, 0.45);
  font-size: var(--copyright-text-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: rgba(255, 255, 255, 0.45);
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .news-two-column {
    min-height: 232.5px;
  }
}

@media screen and (max-width: 991px) {

  /*.navbar{
    min-height: 82px;
  }
    .nav-icons {
    width: 300px;
    padding-left: 0%;
    padding-top: 2%
  }
  
  
  */


  .nav-icons {
    padding-left: 0%;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }



  .section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .team-thumb {
    left: 0;
    width: auto;
  }

  .news-two-column {
    height: auto !important;
    min-height: inherit;
  }

  .news .col-12 .news-two-column:first-child {
    margin-bottom: 38px;
  }




}

@media screen and (max-width: 767px) {
  .news-detail-title {
    font-size: 36px;
  }

  .carousel-caption {
    width: 100%;
  }




  /*.carousel-control-prev {
    isplay: none;
  }

  .carousel-control-next {
    display: none;
  }*/
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 32px;
  }

  .heroText p {
    font-size: 14px;
  }
}

@media screen and (max-width: 359px) {
  .news-detail-title {
    font-size: 22px;
  }
}


/*******************************************************************************************************************/

/*
#DDE59C
#4A671E
#F18950

*/





/*--------------------------------------------------------------
# carousel
--------------------------------------------------------------*/


#carouselExampleDark img {
  /*min-height: 300px;
  max-height: 900px;*/

  height: 100vh;
  max-height: 1000px;
  min-height: 300px;
  object-fit: cover;



  max-height: 900px;
  min-height: 400px;
  position: relative;
  overflow: hidden;



}

.carousel-caption {
  /*display: inline-flex;
  flex-direction: column;
  justify-content: center;*/
  height: 100vh;
  position: absolute;
  z-index: 10;
  text-align: center;
  padding: 5%;
  padding-left: 10%;



  justify-content: center;

  width: 65%;


}


/* carousel text*/

.carousel-tittle {
  padding-top: 30%;

  font-size: 3em;




  font-weight: 600;

  animation-duration: 3s;
  animation-name: slideup;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;


}

.animated-hr {
  visibility: hidden;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-name: slideleft;


  /* border: 3px solid #33bbcf;*/
  border: 3px solid var(--secondary-color);
  height: 1px;
  width: 110px;
  /*background-color: #33bbcf;*/
  background-color: var(--secondary-color);

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;


}

.carousel-text {

  color: #ABABAC;
  font-size: 1.1em;
  /*font-family: 'Libre Baskerville', serif;*/
  animation-delay: .5s;
  animation-duration: 3s;
  animation-name: slideup;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;

}



.btn-outline-primary {
  border-radius: 200px;
  border: 3px solid #76D7E6;

  width: 170px;
  height: 50px;



  font-size: 1em;
  font-weight: normal;

  animation-delay: .5s;
  animation-duration: 3s;
  animation-name: slideup;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
}

.btn-outline-primary:hover {
  border: 3px solid #76D7E6;
  background-color: #76D7E6;
  color: white;
}



.carousel-control-next {
  /*background-color: rgb(6, 7, 6, .2);
  width: 40px;
  height: 130px;
  margin: auto;*/


}

.carousel-control-next:hover {
  /*background-color: #76D7E6;*/
  color: #76D7E6 !important;

}

.carousel-control-prev {
  /*background-color: rgb(6, 7, 6, .3);
  width: 40px;
  height: 130px;
  margin: auto;*/

}

.carousel-control-prev:hover {
  /* background-color: #76D7E6;*/
}



.carousel {
  /* max-height: 900px;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  top: -70px;*/
}






.animation-slideup {

  animation-duration: 3s;
  animation-name: slideup;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@media (max-width: 1200px) {
  .carousel-tittle {
    font-size: 2.5em;
  }

  .carousel-text {
    font-size: .9em;
  }
}

@media (max-width: 950px) {
  .carousel-tittle {
    font-size: 2.5em;
  }

  .carousel-text {
    /*display: none;*/
  }

  .carousel-caption {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-height: 600px) {
  .carousel-tittle {
    font-size: 2.5em;
  }

  .carousel-text {
    font-size: .9em;
  }

}

@media (max-height: 450px) {


  .carousel-text {
   /* display: none;*/
  }


}

@media (max-width: 700px) {
  .carousel-caption {
    height: 100%;
  }
}


@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}


.zoom {
  animation-duration: 7s;

  transition: 7s ease;
  -moz-transition: 7s ease;
  /* Firefox */
  -webkit-transition: 7s ease;
  /* Chrome - Safari */
  -o-transition: 7s ease;
  /* Opera */
  animation-name: zoom;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

}


@keyframes zoom {
  from {
    transform: scale(1);
    -moz-transform: scale(1);
    /* Firefox */
    -webkit-transform: scale(1);
    /* Chrome - Safari */
    -o-transform: scale(1);
    /* Opera */
    -ms-transform: scale(1);
    /* IE9 */

    transform-origin: left top;

  }

  to {
    transform: scale(1.07);
    -moz-transform: scale(1.07);
    /* Firefox */
    -webkit-transform: scale(1.07);
    /* Chrome - Safari */
    -o-transform: scale(1.07);
    /* Opera */
    -ms-transform: scale(1.07);
    /* IE9 */
    background-color: rgb(56, 114, 116);

    /* transform-origin: left center;*/
  }


}

.appear {
  animation-duration: 2s;
  animation-name: slideup;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideleft {
  from {
    width: 0%;
    margin-left: -10%;
  }

  to {
    visibility: visible;
    margin-left: 0%;
  }
}

@keyframes slideup {
  from {
    margin-top: 30%;
    opacity: 0;
  }

  to {
    visibility: visible;
    margin-top: 0%;
    opacity: 1;

  }
}



/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../images/haia\ \(4\).jpg") fixed center center;
  /* background: linear-gradient(rgba(74, 103, 30, 0.9), rgba(74, 103, 30, 0.9)), url("../images/haia\ \(4\).jpg") fixed center center;*/
  background-size: cover;
  padding: 120px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #47b2e4;

  border: 2px solid #47b2e4;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0.5;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  background: var(--primary-color);
  padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff !important;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
  /*color: var(--secondary-color) !important;*/
}

.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #47b2e4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #47b2e4;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #47b2e4;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}



/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;


}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.team .member .social a i {


  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #4ce447;
}

.team .member .social a:hover i {
  color: #fff;
}

.team .member .social a+a {
  margin-left: 8px;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;




}

/*barra debajo de títulos*/
.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  background: var(--secondary-color);
  bottom: 1px;
  left: calc(50% - 60px);
}

/*barra debajo de títulos*/
.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  /*background: #47b2e4;*/
  background-color: var(--secondary-color);

  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}



.map-container {

  display: inline-flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  width: 100%;

}

.map {
  width: 40%;
  padding-bottom: 10%;
  margin: auto;
}


.map iframe {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  margin: auto;
  padding: 0%;
  margin: 0%;

}

.google-map {
  margin: auto;
  padding: 7%;
}

@media screen and (max-width:1000px) {
  .map-container {
    align-content: center;
    margin: auto;
    width: 90%;
    flex-direction: column;


  }

  .map {
    width: 100%;
    height: 100px;
    padding-left: 10%;


  }
}

.google-map p {
  margin: auto;
  width: 90%;
}

.g-map button {
  display: none;
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {


  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #47b2e4;
}

@font-face {
  font-family: JennaSue;
  src: url(../fonts/JennaSue.ttf);
}

@font-face {
  font-family: CenturyGothic;
  src: url(../fonts/CenturyGothic.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora-Italic-VariableFont_wght.ttf);
}

#haia {
  font-family: CenturyGothic;
  padding: 0%;
  color: #4A671E !important;
  margin: -15px;
  margin-top: -35px;
}

#spa {
  font-family: JennaSue;
  padding-left: 70px;
  padding-top: 0%;
  color: #F18950 !important;
  margin: 0%;
}

/*
#DDE59C
#4A671E
#F18950

*/

.haia-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a:hover {
  color: #76D7E6;
}

/***********************************************************************************************/

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  /*font-family: "MockFlowFont";*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/*********************/

/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/

body {
 
}

.wrapper {
  height: 370px;
  width: 277px;
  /* margin: 50px auto;*/
  border-radius: 7px 7px 7px 7px !important;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;

}

.wrapper2 {
  height: 370px;
  width: 277px;
  /* margin: 50px auto;*/
  border-radius: 7px 7px 7px 7px !important;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;

}

.wrapper .carousel-control-next {
  background-color: rgb(0, 0, 0, .5);
  max-height: 50px;
  margin: auto;
  max-width: 25px;
}

.wrapper .carousel-control-prev {
  background-color: rgb(0, 0, 0, .5);
  max-height: 50px;
  margin: auto;
  max-width: 25px;

}

.product-img {
  height: 370px;
  width: 277px;
}

.cot {
  margin: auto;
  display: inline-flex;
  flex-direction: row;
}

.cartas {
  width: 90%;
  margin: auto;
  display: inline-flex;
}

.product-img img {
  /* float: left;*/
  height: 370px;
  width: 277px;

}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 370px;
  width: 277px;
  border-radius: 0 7px 7px 0px;
  background-color: #ffffff;

}

.product-text {
  height: 230px;
  width: 257px;

}


.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 32px;
  font-size: 30px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  /*font-family: 'Bentham', serif;*/
}

.product-text h2 {
  margin: 0 0 40px 38px;
  font-size: 13px;
  /* font-family: 'Raleway', sans-serif;*/
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 20px;
  /*font-family: 'Playfair Display', serif;*/
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 83px;
  width: 307px;
  margin-top: 100px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 30px;
  /*font-family: 'Trocchi', serif;*/
  margin: 0 0 0 20px;
  font-size: 23px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  /*font-family: 'Suranna', serif;*/
  font-size: 25px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 40px;
  width: 120px;
  margin: -15px 50px 0 1px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

.cartas {
  display: flex;
  flex-direction: row;
  padding: 10% 0 10% 0;
}